body {
  background-color: black;
}

h1 {
  color: lime;
  margin-left: 10px;
}

p {
	color:lime;
	margin-left: 20px;
}

h2 {
	color:lime;
	margin-left: 10px;
}

h3 {
	color:lime;
	margin-left: 10px;
}

a {
	color:lime;
	margin-left: 20px;
}

body {
  background-image: url("/3.0/assets/images/website/matrix.gif");
  background-repeat: repeat;
  background-color: #000000;
}